.page-link-btn {
    background-color: #007bff !important;
    color: white !important;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

a.page-link-btn {
    color: white !important;
    text-decoration: none !important;
}

.page-link-btn:hover {
    background-color: #0056b3 !important;
    color: white !important;
}

.list-group-item a.page-link-btn {
    color: white !important;
}
